<div id="ajax_{{ type }}_saison_see">
	<div>
	    {{ pagination.nb_elements }} saison{% if pagination.nb_elements > 1 %}s{% endif %} {% if pagination.pages_count > 0 %} - Page {{ pagination.page }} / {{ pagination.pages_count }} {% endif %}
    </div>
    
    <div class="row">
	    {% for saison in saisons %}
            <div class="col-img">
				<a href="{{ path('saison_afficher', {'id':saison.id,'slug':saison.serie.slug}) }}">
                    {{ photo(saison.photo) | raw }}
                </a>
            </div>
        {% endfor %}
	</div>
	
    <div>
        {% if saisons is empty %}
            <p class="text-info text-center">Cette série n'a aucune saison.</p>
        {% endif %}
    </div>
	
	<div>
    	{% include 'outils/ajax_pagination.html.twig' %}
    </div>
</div>