<div class="row">
	<div class="col col-3 center_img">
        {% if saison.photo is not null %}
        	{{ photo(saison) | raw }}
        {% endif %}
	</div>
	<div class="col col-9 center_img">
		<table class="table table-sm table-borderless">
			<tr>
				<th>Série</th>
				<td>{{ titre("serie", saison.serie, app.session) }}</td>
			</tr>
			<tr>
				<th>N° de saison</th>
				<td>{{ saison.numeroSaison }}</td>
			</tr>
			<tr>
				<th>Nombre d'épisode</th>
				<td>{{ saison.nombreEpisode }}</td>
			</tr>
			{% if saison.description is not null %}
				<tr>
					<th>Description</th>
					<td>{{ saison.description }}</td>
				</tr>
			{% endif %}
		</table>
	</div>
</div>