{% extends 'base.html.twig' %}

{% block title %} Question - Ajout {% endblock %}

{% block body %}
    <div class="card">
        {{ form_start(form) }}
		<div class="card-header">
			Ajout d'une question
		</div>
        
        <div class="card-body">
            <div class="row">
            	<div class="col col-xs-6">
            		{{ form_row(form.intitule) }}
            	</div>
            </div>
            <div class="row">
            	<div class="col col-xs-6 w-100">
            		{{ form_row(form.type_question) }}
            	</div>
            	<div class="col col-xs-6 w-100" id="nombre_proposition">
            		Nombre de proposition
            	</div>
            </div>
            <div class="row">
            	<div class="col col-xs-6">
            	    {{ form_row(form.type_proposition) }}
            	</div>
            	<div class="col col-xs-6 w-100">
            	    {{ form_row(form.reponse) }}
            	    {{ select_vrai_faux("question_response", "question[response]") | raw }}
            	</div>
            </div>
            <div class="row">
            	<div class="col col-xs-12">
            		Propositions
            	</div>
            </div>
            <div class="row" style="display:none">
            	<div class="col col-xs-6">
            		{{ form_row(form.explication) }}
            	</div>
            </div>
        </div>
        <div class="card-footer text-center">
            {{ form_row(form.save) }}
        </div>
        {{ form_rest(form) }}
        {{ form_errors(form) }}
        {{ form_end(form) }}
	</div>
    
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/question.js') }}"></script>
{% endblock %}
