<div id="ajax_{{ type }}_chanson_see">
	<div class="text-center">
	    {{ pagination.nb_elements }} chanson{% if pagination.nb_elements > 1 %}s{% endif %} 
	    {% if pagination.pages_count > 0 %}
	    	 - Page {{ pagination.page }} / {{ pagination.pages_count }} 
	    {% endif %}
	    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
	    	{{ ajouter(path('chanson_ajax_ajouter', {'type':type, 'id': objet.id}), false, 'btn-ajouter') | raw }}
	    {% endif %}
    </div>
    
	<div class="row">
	    {% for chanson in chansons %}
			<div class="col-quotes">
			    {{ card_chanson(chanson, true, path('chanson_afficher', {'slug_song':chanson.slug, 'slug':chanson.episode.serie.slug, 'page':pagination.page}), app.session) | raw }}
			</div>
        {% endfor %}
    </div>
        
	{% if chansons is empty %}
		<div class="empty-element">
          	<p class="text-info text-center">Aucune chanson n'est associée à
                {% if type == 'episode' %}
                	cet épisode.
                {% elseif type == 'serie' or type == 'saison' %}
                    cette {{ type }}.
                {% else %}
                    ce {{ type }}.
                {% endif %}
            </p>
    	</div>
    {% endif %}
	
	<div class="text-center">
    	{% include 'outils/ajax_pagination.html.twig' %}
    </div>
</div>

{% block javascripts %} 
    <script type="text/javascript">
        $( document ).ready(function() {
            OuvrirModal('#btn-ajouter', '#modal_{{ type }}');
        });
    </script>
{% endblock %}