<div class="card" id="ajax_{{ type }}_chanson_see">
	<div class="card-header">
		<div class=" float-left">
    	    {{ pagination.nb_elements }} chanson{% if pagination.nb_elements > 1 %}s{% endif %} {% if pagination.pages_count > 0 %} - Page {{ pagination.page }} / {{ pagination.pages_count }} {% endif %}
    	</div>
    </div>
    <div class="card-body">
    	<div class="row">
    	    {% for chanson in chansons %}
    			<div class="col-quotes">
    			    {{ card_chanson(chanson, true, path('chanson_afficher', {'id':chanson.id, 'slug':chanson.episode.serie.slug, 'page':pagination.page})) | raw }}
    			</div>
            {% endfor %}
        </div>
        
		{% if chansons is empty %}
          	<p class="text-info text-center">Aucune chanson n'est associé à
                {% if type == 'episode' %}
                	cet épisode.
                {% elseif type == 'serie' or type == 'saison' %}
                    cette {{ type }}.
                {% else %}
                    ce {{ type }}.
                {% endif %}
            </p>
        {% endif %}
	</div>
	
	<div class="card-footer">
    	{% include 'outils/ajax_pagination.html.twig' %}
    </div>
</div>