<table class="table table-sm table-borderless">
    {% if is_granted("ROLE_UTILISATEUR") %}
    	<tr>
    		<th></th>
    		<td>{{ modifier(path('espece_modifier', {'slug':espece.slug, 'page':page}), false) | raw }}</td>
    	</tr>
	{% endif %}
	<tr>
		<th>Nom</th>
		<td>{{ espece.nom }}</td>
	</tr>
	<tr>
		<th>Informations supplémentaires</th>
		<td>{{ espece.infoSup }}</td>
	</tr>
	<tr>
		<th>Pouvoirs</th>
		<td>{{ espece.pouvoirs }}</td>
	</tr>
	<tr>
		<th>Faiblesses</th>
		<td>{{ espece.faiblesses }}</td>
	</tr>
</table>