<table class="table table-sm table-borderless">
    {% if is_granted("ROLE_UTILISATEUR") %}
    	<tr>
    		<th></th>
    		<td>{{ modifier(path('espece_modifier', {'slug':espece.slug, 'page':page}), false) | raw }}</td>
    	</tr>
	{% endif %}
	<tr>
		<th>{% trans %}onglet.nom{% endtrans %}</th>
		<td>{{ espece.nom }}</td>
	</tr>
	<tr>
		<th>{% trans %}espece.info_sup{% endtrans %}</th>
		<td>{{ espece.infoSup }}</td>
	</tr>
	<tr>
		<th>{% trans %}espece.pouvoirs{% endtrans %}</th>
		<td>{{ espece.pouvoirs }}</td>
	</tr>
	<tr>
		<th>{% trans %}espece.faiblesses{% endtrans %}</th>
		<td>{{ espece.faiblesses }}</td>
	</tr>
</table>