{% extends 'base.html.twig' %}

{% block title %}{% trans %}episode.nom{% endtrans %}: {{ titre("episode", episode, app.session) | raw }} {% endblock %}

{% block body %}
    
    <div class="card">
        <div class="card-header text-left">
        	<ul class="nav nav-tabs card-header-tabs" id="first">
        		<li class="nav-item">
        			<div class="nav-link active" data-link="{{ path('ajax_afficher_episode_fiche', {'slug':episode.serie.slug, 'slug_episode':episode.slug, 'page':page}) }}">
        				{% trans %}onglet.infos{% endtrans %}
        			</div>
      			</li>
      			<li class="nav-item">
        			<div class="nav-link" data-link="{{ path('ajax_afficher_personnages', {'id':episode.id, 'type':'episode'}) }}">
        				{% trans %}personnage.noms{% endtrans %}
        			</div>
      			</li>
      			<li class="nav-item">
        			<div class="nav-link" data-link="{{ path('ajax_afficher_citations', {'slug': episode.serie.slug, 'id':episode.id, 'type':'episode'}) }}">
        				{% trans %}citation.noms{% endtrans %}
        			</div>
      			</li>
      			<li class="nav-item">
        			<div class="nav-link" data-link="{{ path('ajax_afficher_chansons', {'id':episode.id, 'type':'episode'}) }}">
        				{% trans %}chanson.noms{% endtrans %}
        			</div>
      			</li>
      			<li class="nav-item">
        			<div class="nav-link" data-link="{{ path('ajax_afficher_notes', {'id':episode.id, 'type':'episode'}) }}">
        				{% trans %}note.noms{% endtrans %}
        			</div>
      			</li>
      			<li class="nav-item">
        			<div class="nav-link" data-link="{{ path('ajax_afficher_photos', {'id':episode.id, 'type':'episode'}) }}">
        				{% trans %}photo.noms{% endtrans %}
        			</div>
      			</li>
    		</ul>
        </div>
        <div class="card-body text-center" id="bloc_episode">
            {% trans %}chargement{% endtrans %}...
        </div>
    </div>
    
    <div class="modal fade" tabindex="-1" role="dialog" id="bloc_modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id ="modal_episode">
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/pagination.js') }}"></script>
    <script src="{{ asset('js/tabs.js') }}"></script>
    
    <script type="text/javascript">
        $( document ).ready(function() {
        	chargerTabs("{{ path('ajax_afficher_episode_fiche', {'slug':episode.serie.slug, 'slug_episode':episode.slug, 'page':page}) }}", '#bloc_episode');
            Pagination.demarrer();

            $(".card .nav-link").click(function(){
            	$(".card .nav-link").removeClass('active');
            	$(this).addClass('active');
            	chargerTabs($(this).data('link'), '#bloc_episode');
            });
        });
    </script>
{% endblock %}