<div id="ajax_serie_episode_see">
	<div class="row text-center" style="display: block; margin-bottom: 15px;">
		{{ select("saison", saisons, {'class': 'form-control'}) |raw }}
		<span id="nombre_episode" style="margin-left: 10px">
		    {{ episodes | length }} épisode{% if episodes | length > 1 %}s{% endif %}
		</span>
	</div>
	<div class="row" id="episode_serie">
    	{% for episode in episodes %}
        	<div class="col-lg-4 col-md-6 col-12">
        		<a href="{{ path('episode_afficher', {'slug': episode.serie.slug, 'slug_episode': episode.slug}) | raw }}">
        			#{{ episode.numeroEpisode }} - {{ titre("episode", episode, app.session) }}
        		</a>
    		</div>
    	{% endfor %}
    </div>
    
    {% if episodes is empty %}
		<div class="text-center empty-element">
          	<p class="text-info text-center">Aucun épisode n'est associé à cette série.</p>
		</div>
    {% endif %}
</div>

{% block javascripts %}
    <script src="{{ asset('js/tabs.js') }}"></script>
    
	<script type="text/javascript">
        $( document ).ready(function() {

            var saison_ch = $("#saison").select2();
			saison_ch.on("change", function (e) {
				var url_change = "{{ path('ajax_afficher_episodes', {'id': 'val', 'type': 'serie', 'perso_id': 0 }) }}";
				url_change = url_change.replace('val', $("#saison").val());
				Ajax(url_change, "#episode_serie", "#ajax_serie_episode_see");
			});
        });
    </script>
{% endblock %}