<div class="row">
	{% for episode in episodes %}
    	<div class="col-lg-4 col-md-6 col-12">
    		<a href="{{ path('episode_afficher', {'slug': episode.serie.slug, 'slug_episode': episode.slug}) | raw }}">
        		#{{ episode.numeroEpisode }} - {{ titre("episode", episode, app.session) }}
        	</a>
		</div>
	{% endfor %}
</div>

{% block javascripts %}
	<script type="text/javascript">
        $( document ).ready(function() {
            var type = "{{ type }}";
            var length = "{{ episodes | length }}";
            var html = length + " épisode";
            if(length > 1){
				html += "s";
            }
            $("#ajax_" + type + "_episode_see .card-footer").html(html);
			//Mettre à jour le footer avec la taille de épisodes
        });
    </script>
{% endblock %}