{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}

    <div class="card mx-auto mt-5 shadow" style="width: 40rem;">
  		<form action="{{ path('lost_password') }}" method="post">
        	<div class="card-header">
          		{% if questions is null and new_password is null %}
            		<h5 class="card-title">Réinitialiser son mot de passe</h5>
              	{% elseif (questions is not null and new_password is null) %}
              		<div class="row">
              			Bonjour, {{ questions.username }}, <br>répondez aux questions pour réinitialiser votre mot de passe
              		</div>
          		{% else %}
          		{% endif %}
        	</div>
          	<div class="card-body">
          		{% if questions is null and new_password is null %}
              		<div class="row">
              			<div class="col col-5">
              				<input type="hidden" name="get_username" value"1">
              				<label>Taper votre pseudo</label>
              			</div>
              			<div class="col col-5">
              				<input type="text" class="form-control" name="username">
              			</div>
              		</div>
              	{% elseif (questions is not null and new_password is null) %}
              		<div id="lost_password_questions">
              			<input type="hidden" name="check_questions" value="1">
              			<input type="hidden" name="username" value="{{ questions.username }}">
						<div class="row">
          					<label>{{ questions.question_1 }}</label>
          				</div>
          				<div class="row">
          					<input type="text" class="form-control" name="reponse_1">
          				</div>
          				<div class="row">
          					<label>{{ questions.question_2 }}</label>
          				</div>
          				<div class="row">
          					<input type="text" class="form-control" name="reponse_2">
          				</div>
          			</div>
          		{% else %}
          			<div id="new_password" class="row">
              			<input type="hidden" name="new_password" value="1">
              			<input type="hidden" name="username" value="{{ questions.username }}">
          				<label>Nouveau mot de passe</label>
          				<input type="password" class="form-control" name="utilisateur_password_first">
          				<label>Confirmer</label>
          				<input type="password" class="form-control" name="utilisateur_password_second">
          			</div>
          	    {% endif %}
        	</div>
          	<div class="card-footer">
          		{% if questions is null and new_password is null %}
          			<div class="col col-2">
          				<input type="submit" class="btn btn-dark">
          			</div>
              	{% elseif (questions is not null and new_password is null) %}
              	    <div class="row">
              	    	<div class="col col-12 text-center">
              				<input type="submit" class="btn btn-dark">
              			</div>
              		</div>
          		{% else %}
              	    <div class="row">
              			<input type="submit" class="btn btn-dark">
              		</div>
          		{% endif %}
        	</div>
  	    </form>
    </div>

{% endblock %}