<div id="ajax_{{ type }}_photo_see">
	<div>
        {{ 'photo.num_photo'|trans({'num': pagination.nb_elements }) }}
	    {% if pagination.pages_count > 0 %}
	    	 - Page {{ pagination.page }} / {{ pagination.pages_count }} 
	    {% endif %}
    </div>
    
    <div class="row">
    	{% for photo in photos %}
        	<div class="col-img">
        		<a href="{{ path('photo_afficher', { 'id':photo.id, 'page':1 }) }}">
                    {% if photo is not null %}
        				{{ photo(photo) | raw }}
        			{% else %}
                    	<span class="center">{{ photo.nom }}</span>
        	        {% endif %}
	            </a>
            </div>
        {% endfor %}
    </div>
    
	{% if photos is empty %}
		<div class="empty-element">
          	<p class="text-info text-center">Aucune photo n'est associée à 
          	{% if type == 'acteur' %}
          		{% if objet.sexe %}
          			cette actrice
          		{% else %}
          			cet acteur
          		{% endif %}
          	{% elseif type == 'episode' %}
          		cet épisode
          	{% elseif type == 'espece' %}
          		cet espèce
          	{% elseif type == 'personnage' %}
          		ce personnage
          	{% elseif type == 'saison' %}
          		cette saison
          	{% elseif type == 'serie' %}
          		cette série
          	{% endif %}
          	.</p>
		</div>
    {% endif %}
	
	<div>
    	{% include 'outils/ajax_pagination.html.twig' %}
    </div>
</div>