<div id="ajax_{{ type }}_photo_afficher">
	<div>
        {{ 'photo.num_photo'|trans({'num': pagination.nb_elements }) }}
	    {% if pagination.pages_count > 0 %}
	    	 - Page {{ pagination.page }} / {{ pagination.pages_count }} 
	    {% endif %}
	    {% if type != 'tag' and is_granted("ROLE_UTILISATEUR") %}
    	    <span class="link" data-link="{{ path('ajax_ajouter_photos', {'id': objet.id, 'type': type}) }}">
    	    	<i class="fas fa-plus"></i>
    	    </span>
    	    <span class="link" data-link="{{ path('ajax_supprimer_photos', {'id': objet.id, 'type': type}) }}">
    	    	<i class="fas fa-times"></i>
    	    </span>
	    {% endif %}
    </div>
    
	{% if photos is empty %}
		<div class="empty-element">
          	<p class="text-info text-center">Aucune photo n'est associée à 
          	{% if type == 'acteur' %}
          		{% if objet.sexe %}
          			cette actrice
          		{% else %}
          			cet acteur
          		{% endif %}
          	{% elseif type == 'episode' %}
          		cet épisode
          	{% elseif type == 'espece' %}
          		cet espèce
          	{% elseif type == 'personnage' %}
          		ce personnage
          	{% elseif type == 'saison' %}
          		cette saison
          	{% elseif type == 'serie' %}
          		cette série
          	{% elseif type == 'tag' %}
          		ce tag
          	{% else %}
          		cet élément
          	{% endif %}
          	.</p>
		</div>
	{% else %}
        <div class="row">
        	{% for photo in photos %}
            	<div class="col-img">
            		<a href="{{ path('photo_afficher', { 'id':photo.id, 'page':1 }) }}">
                        {% if photo is not null %}
            				{{ photo(photo) | raw }}
            			{% else %}
                        	<span class="center">{{ photo.nom }}</span>
            	        {% endif %}
    	            </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
	
	<div>
    	{% include 'outils/ajax_pagination.html.twig' %}
    </div>
</div>
    
<script type="text/javascript">
    $( document ).ready(function() {
        $(".link").click(function(){
        	chargerTabs($(this).data('link'), '#bloc_{{ type }}');
        });
    });
</script>