{{ form_start(form) }}
<select name="photo[tags][]" class="form-control" multiple>
	{% for tag in tags %}
		<option value="{{ tag.id }}">{{ tag.nom }}</option>
	{% endfor %}
</select>
<span id="save" class="badge badge-pill badge-yampire ajouter pad-5">
	<i class="fas fa-check"></i>
</span>
{{ form_rest(form) }}
{{ form_errors(form) }}
{{ form_end(form) }}
</div>
{% block javascripts %}
    <script type="text/javascript">
		$("select").select2({
			tags: true
		});

		
        $("#save").click(function(){
            $("form").submit();
        })
        var url = '{{ path('photo_tag_ajouter', {'photo_id': photo.id }) }}';
        var url_base = '{{ path('photo_tag_afficher', {'photo_id': photo.id }) }}';
        SubmitModal("photo", url, "#bloc_modal", url_base, "#photo_tag");
    </script>
{% endblock %}
