{% extends 'base.html.twig' %}

{% block title %}Nationalités{% endblock %}

{% block body %}
    <div class="card text-center">
        <div class="card-header text-left">
            {{ pagination.total }} nationalités - {{ pagination.page }} / {{ pagination.nbPages }}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ ajouter(path('nationalite_ajouter', {'page':pagination.page})) | raw }}
            {% endif %}
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Pays</th>
                        <th><i class="fas fa-female"></i> <i class="fas fa-venus"></i></th>
                        <th><i class="fas fa-male"></i> <i class="fas fa-mars"></i></th>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        	<th></th>
                        {% endif %}
                    </tr>
                </thead>
                {% for nationalite in nationalites %}
                    <tr>
                        <td> {{ nationalite.id }} </td>
                        <td> {{ nationalite.nom }}</td>
                        <td> {{ nationalite.nomFeminin }}</td>
                        <td> {{ nationalite.nomMasculin }}</td>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        	<td>
                        		{% if is_granted("ROLE_ADMIN") %}
                                    {{ supprimer(path('nationalite_confirmer', { 'id':nationalite.id, 'page':pagination.page }), true, "btn-delete-" ~ nationalite.id, "marg-l-10") | raw }}
                                {% endif %}
                                {% if is_granted("ROLE_UTILISATEUR") or is_granted("ROLE_ADMIN") %}
                        	        {{ modifier(path('nationalite_modifier', {'id':nationalite.id, 'page':pagination.page})) | raw }}
                        	    {% endif %}
                        	</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </table>
                
                {% if nationalites is empty %}
                    <p class="text-info text-center">Il  n'y a aucune nationalité correspondant à la recherche.</p>
                {% endif %}
            </div>
        <div class="card-footer text-muted">
            {% include 'outils/pagination.html.twig' %}
        </div>
        
        <div class="modal fade" tabindex="-1" role="dialog" id="bloc_modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content" id ="modal_nationalite">
                    {% trans %}chargement{% endtrans %}...
                </div>
            </div>
        </div>
    </div> 
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/tabs.js') }}"></script>
    
    <script type="text/javascript">
    {% for nationalite in nationalites %}
        {% if is_granted("ROLE_ADMIN") %}
        	var id = "#btn-delete-{{ nationalite.id }}";
        	$(id).click(function(event){
            	event.preventDefault();
                OuvrirModal("#" + $(this).attr('id'), "#modal_nationalite");
            });
		{% endif %}
	{% endfor %}
    </script>
{% endblock %}
