<div id="ajax_note_modifier">
    {{ form_start(form) }}
    <div class="modal-header">
        <h5 class="modal-title">Modification de la note #{{ note.id }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <div class="modal-body">
        {{ form_row(form.contenu) }}
    </div>
    
    <div class="modal-footer">
        {{ form_widget(form.save) }}
    </div>
    {{ form_rest(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
</div>
{% block javascripts %}
    <script>
        $('#bloc_modal').modal({
            'show' : true,
            'backdrop' : 'static'
        });
        
        var url = '{{ path('note_ajax_modifier', {'note_id':note.id,'id':id, 'type':type, 'page':page}) }}';
        var url_base = '{{ path('ajax_afficher_notes', {'id':id, 'type':type, 'page':page}) }}';
        SubmitModal("note", url, "#bloc_modal", url_base, "#bloc_{{ type }}");
    </script>
{% endblock %}