<div class="row">
	<div class="col col-3 center_img">
	    {% if serie.photo is not null %}
        	{{ photo(serie) | raw }}
        {% endif %}
	</div>
	<div class="col col-9 center_img">
        <table class="table table-sm table-borderless">
            {% if is_granted("ROLE_UTILISATEUR") %}
            	<tr>
            		<th></th>
            		<td>{{ modifier(path('serie_modifier', {'slug':serie.slug}), false) | raw }}</td>
            	</tr>
            {% endif %}
        	<tr>
        		<th>Titre</th>
        		<td>{{ serie.titre }}</td>
        	</tr>
        	<tr>
        		<th>Titre Original</th>
        		<td>{{ serie.titreOriginal }}</td>
        	</tr>
        	<tr>
        		<th>Abrégé</th>
        		<td>{{ serie.titreCourt }}</td>
        	</tr>
        	<tr>
        		<th>Nombre de saison</th>
        		<td>{{ serie.nombreSaison }}</td>
        	</tr>
        	<tr>
        		<th>Nombre d'épisode</th>
        		<td>{{ serie.nombreEpisode }}</td>
        	</tr>
        	<tr>
        		<th>Terminée</th>
        		<td>{{ serie.terminee | bool }}</td>
        	</tr>
        </table>
	</div>
</div>

{% block javascripts %} 
    <script type="text/javascript">
        $( document ).ready(function() {
            OuvrirModal('#btn-modifier', '#bloc_serie');
        });
    </script>
{% endblock %}
