{% extends 'base.html.twig' %}

{% block title %}Façon de mourir{% endblock %}

{% block body %}
    
    <div class="card text-center">
        <div class="card-header text-left">
            {{ pagination.total }} façons de mourir - {{ pagination.page }} / {{ pagination.nbPages }}
            {% if is_granted("ROLE_ADMIN") %}
                {{ ajouter(path('way_to_die_ajouter', {'page':pagination.page})) | raw }}
            {% endif %}
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        {% if is_granted("ROLE_ADMIN") %}
                        	<th></th>
                        {% endif %}
                    </tr>
                </thead>
                {% for way_to_die in way_to_dies %}
                    <tr>
                        <td> {{ way_to_die.id }} </td>
                        <td> {{ way_to_die.nom }} </td>
                        {% if is_granted("ROLE_ADMIN") %}
                        	<td>{{ modifier(path('way_to_die_modifier', {'id':way_to_die.id, 'page':pagination.page})) | raw }}</td>
                        {% endif %}
                    </tr>
                {% else %}
                	<p class="text-info text-center">Il  n'y a aucune façon d mourir correspondant à la recherche.</p>
                {% endfor %}
                </table>
            </div>
        <div class="card-footer text-muted">
        {% include 'outils/pagination.html.twig' %}
        </div>
    </div> 
{% endblock %}
