<nav class="navbar navbar-expand-lg navbar-primary bg-primary">
    <button id="navbar-button" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    	<i class="fas fa-align-justify"></i>
  	</button>
    <a class="navbar-brand" href="{{ path('index') }}"><i class="fas fa-home"></i></a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans %}Séries{% endtrans %}
                </a>
                <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
                    {% for serie in app.session.get('series') %}
                    	<a class="dropdown-item" href="{{ path('serie_afficher', { 'slug': serie.slug }) }}">{{ serie.nom }}</a>
                    {% endfor %}
                </div>
            </li>
            
        	<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans %}Episodes{% endtrans %}
                </a>
                <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
                    {% for serie in app.session.get('series') %}
                    	<a class="dropdown-item" href="{{ path('episode_liste', { 'slug': serie.slug }) }}">{{ serie.nom }}</a>
                    {% endfor %}
                </div>
            </li>
        	
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans %}Personnages{% endtrans %}
                </a>
                <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
                    {% for serie in app.session.get('series') %}
                    	<a class="dropdown-item" href="{{ path('personnage_liste', { 'slug': serie.slug }) }}">{{ serie.nom }}</a>
                    {% endfor %}
                </div>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans %}Citations{% endtrans %}
                </a>
                <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
                	{% for serie in app.session.get('series') %}
                    	<a class="dropdown-item" href="{{ path('citation_liste', { 'slug': serie.slug }) }}">{{ serie.nom }}</a>
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans %}Chansons{% endtrans %}
                </a>
                <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
                	{% for serie in app.session.get('series') %}
                    	<a class="dropdown-item" href="{{ path('chanson_liste', { 'slug': serie.slug }) }}">{{ serie.nom }}</a>
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Univers
                </a>
                <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('espece_liste') }}">Espèces</a>
                    <a class="dropdown-item" href="{{ path('way_to_die_liste') }}">Façon de mourir</a>
               		<a class="dropdown-item" href="{{ path('acteur_liste') }}">Acteurs</a>
                    <a class="dropdown-item" href="{{ path('photo_liste') }}">Galerie de photos</a>
                    <a class="dropdown-item" href="{{ path('nationalite_liste') }}">Nationalités</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Jeux
                </a>
                <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Lancer un quizz</a>
                    <a class="dropdown-item" href="#">Créer un quizz</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Plus
                </a>
                <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
                	<a class="dropdown-item" href="{{ path('quizz_liste') }}">Quizz</a>
                    <a class="dropdown-item" href="#">Questions</a>
                </div>
            </li>
        </ul>
        
        <span class="navbar-text">
    		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
     			<ul class="navbar-nav justify-content-end">
              		<li class="nav-item dropdown">
                		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  			Bonjour {{ app.user.username }}
                		</a>
                		<div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
                  			<a class="dropdown-item" href=""><i class="fas fa-user"></i> Mon compte</a>
                  			{% if is_granted('ROLE_ADMIN') %}
                    			<a class="dropdown-item" href="{{ path('utilisateur_liste', {'page': 1}) }}"><i class="fas fa-user-friends"></i> Utilisateurs</a>
                    		{% endif %}
                  			<div class="dropdown-divider"></div>
                  			<a class="dropdown-item" href='{{ path('security_logout') }}'><i class="fas fa-power-off"></i> Déconnexion</a>
                		</div>
              		</li>
            	</ul>
        	{% else %}
     			 <a href='{{ path('security_login') }}'><i class="fas fa-power-off"></i> Connexion</a>
            {% endif %}
      		
    	</span>
    </div>
</nav>