<div id="test_quizz">
    <div class="modal-header">
        <h5 class="modal-title">
            {{ question_quizz.quizz.nom }}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <div class="modal-body">
        {{ afficher(question_quizz.question, ordre, doctrine) | raw }}
    </div>
    
    <div class="modal-footer">
        <button id="prev" class="btn btn-yampire"  href="{{ path('question_quizz_afficher', {'id': quizz.id, 'nbr': nbr, 'ordre': ordre - 1}) }}"{% if ordre == 1 %}disabled{% endif %}>
        	<i class="fas fa-chevron-left"></i> Précédent
        </button>
        <button id="check" class="btn btn-success">
        	<i class="fas fa-check-double"></i> Vérifier
        </button>
        {% if ordre == nbr %}
            <button class="btn btn-yampire">
            	Terminer
            </button>
        {% else %}
        	<button id="next" class="btn btn-yampire" href="{{ path('question_quizz_afficher', {'id': quizz.id, 'nbr': nbr, 'ordre': ordre + 1}) }}">
            	Suivant <i class="fas fa-chevron-right"></i>
            </button>
        {% endif %}
    </div>
</div>

{% block javascripts %}
    <script>
        $('#bloc_modal').modal({
            'show' : true,
            'backdrop' : 'static'
        });
		
        $("select.form-control").select2();
        
        OuvrirModal('#next', '#modal_quizz');
        OuvrirModal('#prev', '#modal_quizz');

        $(".form-check").click(function(){
        	$(".form-check").removeClass('check');
        	$(this).addClass('check');
        });
        
        $("#check").click(function(){
            var type = parseInt({{ question_quizz.question.typeQuestion }});
            if(type == 2){
                $("select.form-control").each(function(index){
                    if($(this).data('reponse') == $(this).val()){
                        console.log('correct');
                    } else {
                        console.log('incorrect');
                    }
                })
            } else {
                $(".explication").removeClass("hidden");
                $(".form-check").each(function(index){
                    var j = parseInt(index + 1);
    				if($(this).data('reponse') == 1){
    					$(".form-check[data-proposition=" + j + "] .green").removeClass("hidden");
    					$(".form-check[data-proposition=" + j + "] .container").addClass("green");
    				} else if ($(this).data('reponse') == 0 && $(this).hasClass("check")) {
    					$(".form-check[data-proposition=" + j + "] .red").removeClass("hidden");
    					$(".form-check[data-proposition=" + j + "] .container").addClass("red");
    				}
                });
            }
        });
    </script>
{% endblock %}