<div class="row">
    <div class="col col-3 center_img">
    	{% if personnage.photo is not null %}
    		{{ photo(personnage) |raw }}
    	{% endif %}
    </div>
    <div class="col col-9 center_img">
        <table class="table table-sm table-borderless">
            {% if is_granted("ROLE_UTILISATEUR") %}
            	<tr>
            		<th></th>
            		<td>
                        {{ modifier(path('personnage_modifier', {'slug_perso':personnage.slug, 'slug':serie.slug, 'page':page}), false) | raw }}
                	</td>
        		</tr>
            {% endif %}
        	<tr>
        		<th>{% trans %}personnage.nom_complet{% endtrans %}</th>
        		<td>{{ nom_complet(personnage) | raw }}</td>
        	</tr>
        	{% if personnage.dateNaissance is not null %}
            	<tr>
            		<th>{% trans %}acteur.date_naissance{% endtrans %}</th>
            		<td>{{ personnage.dateNaissance | date('d/m/Y') }}</td>
            	</tr>
        	{% endif %}
        	<tr>
        		<th>{% trans %}acteur.sexe{% endtrans %}</th>
        		<td>{{ 'acteur.sexe_sel'|trans({'gender': personnage.sexe }) }}</td>
        	</tr>
        	<tr>
        		<th>{% trans %}espece.nom{% endtrans %}</th>
        		<td>{{ personnage.espece.nom }}</td>
        	</tr>
        	{% if personnage.acteurPersonnages is not empty %}
            	<tr>
            		<th>{{ 'personnage.interprete'|trans({'gender': personnage.sexe }) }}</th>
            		<td>
            		    {% for acteurPersonnages in personnage.acteurPersonnages %} 
            		    	<b>{{ acteurPersonnages.acteur.prenom }} {{ acteurPersonnages.acteur.nom }}</b> 
            		    	({{ acteurPersonnages.principal | acteur_role }})<br>
            			{% endfor %}
            		</td>
            	</tr>
        	{% endif %}
        	{% if serieSaisons is not empty %}
            	<tr>
            		<th colspan="2">{% trans %}serie.noms{% endtrans %}</th>
            	</tr>
            	{% for serieSaison in serieSaisons %} 
            		<tr>
                		<th>
                			{{ serieSaison.nom }}
                		</th>
                		<td>
                            {% for saison in serieSaison.saisons %}
                		    	- <b>{{ saison.nom }}</b> ({{ saison.role | role}})<br>
                		    {% endfor %}
                		</td>
                	</tr>
            	{% endfor %}
        	{% endif %}
    	</table>
    </div>
</div>