<div id="ajax_{{ type }}_personnage_see">
	<div class="text-center">
	    {{ pagination.nb_elements }} personnage{% if pagination.nb_elements > 1 %}s{% endif %} 
	    {% if pagination.pages_count > 0 %}
	    	 - Page {{ pagination.page }} / {{ pagination.pages_count }} 
	    {% endif %}
	    {% if is_granted('ROLE_UTILISATEUR') and type != 'espece' %}
	    	{% if type == 'episode' %}
	    		{{ ajouter(path('ajax_ajouter_personnage_episode', {'id':objet.id}), false, 'btn-ajouter') | raw }}
	    		{{ supprimer(path('ajax_supprimer_personnage_episode', {'id':objet.id}), false, 'btn-supprimer') | raw }}
	    	{% elseif type == 'saison' %}
	    		{{ ajouter(path('ajax_ajouter_personnage_saison', {'id':objet.id}), false, 'btn-ajouter') | raw }}
	    		{#{ supprimer(path('ajax_supprimer_personnage_saison', {'id':objet.id}), false, 'btn-supprimer') | raw }#}
	    	{% else %}
	    		{{ ajouter(path('ajax_ajouter_personnage_' ~ type, {'slug':objet.slug}), false, 'btn-ajouter') | raw }}
	    		{#{ supprimer(path('ajax_supprimer_personnage_' ~ type, {'slug':objet.slug}), false, 'btn-supprimer') | raw }#}
	    	{% endif %}
	    {% endif %}
    </div>
    
    <div class="row">
    	{% for personnage in personnages %}
        	<div class="col-img">
        		{% if type != 'episode' and type != 'espece' %}
                	<a href="{{ path('personnage_afficher', {'slug_perso':personnage.personnage.slug, 'slug':'the_vampire_diaries', 'page':pagination.page}) }}">
                        {% if personnage.personnage.photo is not null %}
            				{{ photo(personnage.personnage) | raw }}
            			{% else %}
                        	<span class="center">{{ nom_complet(personnage.personnage) }}</span>
            	        {% endif %}
    	            </a>
	            {% else %}
	            	<a href="{{ path('personnage_afficher', {'slug_perso':personnage.slug, 'slug':'the_vampire_diaries', 'page':pagination.page}) }}">
                        {% if personnage.photo is not null %}
            				{{ photo(personnage) | raw }}
            			{% else %}
                        	<span class="center">{{ nom_complet(personnage) }}</span>
            	        {% endif %}
    	            </a>
	            {% endif %}
            </div>
        {% endfor %}
    </div>
    
	{% if personnages is empty %}
		<div class="empty-element">
          	<p class="text-info text-center">Aucun personnage n'est associé à
                {% if type == 'episode' %}
                	cet épisode.
                {% elseif type == 'serie' or type == 'saison' %}
                    cette {{ type }}.
                {% else %}
                    ce {{ type }}.
                {% endif %}
            </p>
		</div>
    {% endif %}
	
	<div class="text-center">
    	{% include 'outils/ajax_pagination.html.twig' %}
    </div>
</div>

{% block javascripts %} 
    <script type="text/javascript">
        $( document ).ready(function() {
            OuvrirModal('#btn-ajouter', '#modal_{{ type }}');
            OuvrirModal('#btn-supprimer', '#modal_{{ type }}');
        });
    </script>
{% endblock %}