{% extends 'base.html.twig' %}

{% block title %}Personnages de {{ serie.nom }}{% endblock %}

{% block body %}
    
    <div class="card text-center">
        <div class="card-header text-left">
            {{ pagination.total }} personnages - {{ pagination.page }} / {{ pagination.nbPages }}
            {% if is_granted("ROLE_ADMIN") %}
                {{ ajouter(path('personnage_ajouter', {'slug':serie.slug, 'page':pagination.page})) | raw }}
            {% endif %}
        </div>
        <div class="card-body">
                <div class="row">
                	{% for personnageSerie in personnageSeries %}
                		<div class="col-img">
                			<a href="{{ path('personnage_afficher', {'slug_perso':personnageSerie.personnage.slug, 'slug':serie.slug, 'page':pagination.page}) }}">
                    			{% if personnageSerie.personnage.photo is not null %}
        							{{ photo(personnageSerie.personnage) | raw }}
        						{% else %}
                                    <span class="center">{{ nom_complet(personnageSerie.personnage) }}</span>
        	                    {% endif %}
    	                    </a>
                		</div>
                	{% endfor %}
                </div>
                
                {% if personnageSeries is empty %}
                    <p class="text-info text-center">Il  n'y a aucun personnage correspondant à la recherche.</p>
                {% endif %}
            </div>
        <div class="card-footer text-muted">
            {% include 'outils/pagination.html.twig' %}
        </div>
    </div> 
{% endblock %}
