{% extends 'base.html.twig' %}

{% block title %} Personnage - ID {{ personnage.id }} {% endblock %}

{% block body %}

	<div class="card">
        {{ form_start(form) }}
		<div class="card-header">
			Edition de {{ nom_usage(personnage) }} - ID {{ personnage.id }}
		</div>
        
        <div class="card-body">
        	<div class="row">
        		<div class="col col-xs-6">{{ form_row(form.prenom) }}</div>
            	<div class="col col-xs-6">{{ form_row(form.prenom_usage) }}</div>
            </div>
            <div class="row">
        		<div class="col col-xs-6">{{ form_row(form.nom) }}</div>
        		<div class="col col-xs-6">{{ form_row(form.date_naissance) }}</div>
            </div>
            <div class="row">
            	<div class="col col-xs-6 w-100" id="sexe">{{ form_row(form.sexe) }}</div>
        		<div class="col col-xs-6 w-100">{{ form_row(form.espece) }}</div>
            </div>
            
            <hr>
            
            <div id="personnageActeurs" class="row">
                <div class="col-sm-10 collection">Interprété(e) par</div>
        		<div class="col-sm-2 addElement collection"><i class="fas fa-plus"></i></div>
            </div>
            
        </div>
        <div class="card-footer text-center">
            {{ form_row(form.save) }}
        </div>
        {{ form_rest(form) }}
        {{ form_errors(form) }}
        {{ form_end(form) }}
    </div>
    
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/collection.js') }}"></script>
    
    <script type="text/javascript">
        $( document ).ready(function() {
			$("#personnage_sexe").select2({
			    minimumResultsForSearch: -1
			});

			$("#personnage_espece").select2();

			$("#personnage_date_naissance select").each(function(){
				$(this).select2();
			});


			var index = 0;
			var select1 = '{{ select("personnage[personnageActeurs][INDEX][acteur]", acteurs, opt_act) |raw }}';
			var select2 = '{{ select_acteur_role("personnage_personnageActeurs_INDEX_principal", "personnage[personnageActeurs][INDEX][principal]") | raw }}';

			{% for personnageActeur in personnage.acteurPersonnages %}
				var id = {{ personnageActeur.id }};
    			var select_1 = '{{ select("personnage[personnageActeurs][INDEX][acteur]", acteurs, opt_act|merge({'default': personnageActeur.acteur.id })) |raw }}';
    			var select_2 = '{{ select_acteur_role("personnage_personnageActeurs_INDEX_principal", "personnage[personnageActeurs][INDEX][principal]", personnageActeur.principal) | raw }}';
    
    			index = addNewPersonnageActeur(select_1, select_2, index, id);
			{% endfor %}
			
			$(".addElement").click(function(){
				index = addNewPersonnageActeur(select1, select2, index);
			});
			
        });
    </script>
{% endblock %}
