<div id="ajax_{{ type }}_citation_see">
	<div class="text-center">
	    {{ pagination.nb_elements }} citation{% if pagination.nb_elements > 1 %}s{% endif %} 
	    {% if pagination.pages_count > 0 %}
	    	 - Page {{ pagination.page }} / {{ pagination.pages_count }} 
	    {% endif %}
	    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ ajouter(path('citation_ajax_ajouter', {'slug':serie.slug, 'type':type, 'id': objet.id}), false, 'btn-ajouter') | raw }}
        {% endif %}
    </div>
    <div class="row">
	    {% for citation in citations %}
			<div class="col-quotes">
			    {{ card_citation(citation, true, path('citation_afficher', {'id':citation.id, 'slug':citation.episode.serie.slug, 'page':pagination.page})) | raw }}
			</div>
        {% endfor %}
	</div>
	
    {% if citations is empty %}
        <div class="empty-element">
          	<p class="text-info text-center">Aucune citation n'est associée à
                {% if type == 'episode' %}
                	cet épisode.
                {% elseif type == 'serie' %}
                	cette série.
                {% elseif type == 'saison' %}
                    cette {{ type }}.
                {% else %}
                    ce {{ type }}.
                {% endif %}
            </p>
		</div>
    {% endif %}
	
	<div class="text-center">
    	{% include 'outils/ajax_pagination.html.twig' %}
    </div>
</div>

{% block javascripts %} 
    <script type="text/javascript">
        $( document ).ready(function() {
            OuvrirModal('#btn-ajouter', '#modal_{{ type }}');
        });
    </script>
{% endblock %}