<div id="ajax_personnage_serie_ajouter">
    {{ form_start(form) }}
    <div class="modal-header">
        <h5 class="modal-title">
            Ajouter un personnage à la série {{ titre("serie", serie, app.session) }}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <div class="modal-body">
    	<div class="row">
    		<div class="col col-12">
    		    {{ form_row(form.serie) }}
    		</div>
    		<div class="col col-12 w-100">
    			{{ form_row(form.personnage) }}
    		</div>
    		<div class="col col-12 w-100">
    			{{ form_row(form.principal) }}
    		</div>
    	</div>
    </div>
    
    <div class="modal-footer">
        {{ form_widget(form.save) }}
    </div>
    {{ form_rest(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
</div>
{% block javascripts %}
    <script>
        $('#bloc_modal').modal({
            'show' : true,
            'backdrop' : 'static'
        });
        
        $("#personnage_serie_serie").val({{ serie.id }})
		$("#personnage_serie_personnage").select2();
		$("#personnage_serie_principal").select2({
		    minimumResultsForSearch: -1
		});
        
        var url = '{{ path('ajax_ajouter_personnage_serie', {'slug':serie.slug}) }}';
        var url_base = '{{ path('ajax_afficher_personnages', {'id':serie.id, 'type':'serie'}) }}';
        SubmitModal("personnage_serie", url, "#bloc_modal", url_base, "#bloc_serie");
    </script>
{% endblock %}
